.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  border-radius: 12px;
  background: #251c1c;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.description h2 {
  color: pink;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(112, 112, 58);
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

.button {
  padding: 13px;
  background: #9a3434;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

@media (min-width: 580px) {
  .description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .description h2 {
    font-size: 1.25rem;
  }

  .price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
